body {
    font-family: 'Roboto', sans-serif;
}

hr {
    margin: 2px 0 1px 0;
}

.container {
    padding-right: 0 !important;
}

.main-image-header {
    position: absolute;
    top: 330px;
    left: 210px;
    font-size: 84px;
    line-height: 84px;
    color: white;
}

.main-image-header-blue {
    padding-top: 20px;
    color: #0897D3;
}

.main-another-news-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-another-news-time {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #0897D3;
}

.main-another-news-header {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}

.main-another-news-announce {
    font-size: 16px;
    line-height: 19px;
    color: #737373;

}

.main-project-block-header {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
}

.line-our-team {
    height: 2px;
    background: #0897D3;

}

.main-project-block-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 40px 0;
}

.about-fund-img-1 {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.about-fund-img-2 {
    width: 100%;
    height: 207px;
    object-fit: cover;
}

.about-fund-img-2:first-child {
    margin-bottom: 37px;
}

.about-fund-col-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    text-decoration: underline;
    color: #0897D3;
    margin-bottom: 20px;
}

.about-fund-col-text {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #737373;
    text-align: left;
}

.about-fund-title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: #010000;
    text-align: center;
    margin-top: 0px;
}

.about-fund-number {
    font-size: 400px;
    line-height: 400px;
    color: #0897D3;
    opacity: 0.2;
}

.about-fund-destinations-title {
    font-size: 32px;
    line-height: 32px;
    width: 700px;
    color: #0897D3;
    font-weight: 600;
}

.about-fund-destinations-margin {
    font-size: 32px;
    line-height: 32px;
    width: 700px;
    margin-top: 90px;
    color: #0897D3;
    font-weight: 600;
}

.about-fund-destinations-margin-right {
    font-size: 32px;
    line-height: 32px;
    margin-top: 90px;
    width: 700px;
    color: #0897D3;
    font-weight: 600;
}


.about-fund-destinations-text-right {
    font-size: 20px;
    line-height: 22px;
    width: 600px;
    color: #737373;
    font-weight: 400;
}

.about-fund-destinations-text {
    font-size: 20px;
    line-height: 22px;
    width: 700px;
    color: #737373;
    font-weight: 400;
    width: 90%;
}

.about-fund-destinations-second-text {
    font-size: 20px;
    line-height: 22px;
    width: 800px;
    margin-bottom: 20px;
    color: #737373;
    font-weight: 400;
}

.about-fund-destinations-second-text-2 {
    font-size: 20px;
    line-height: 22px;
    width: 800px;
    margin-bottom: 20px;
    color: #737373;
    font-weight: 400;
}

.about-fund-mb {
}


.scale img {
    transition: 1s; /* Время эффекта */
}
.scale img:hover {
    transform: scale(1.6); /* Увеличиваем масштаб */
}



.our-team-info {
    padding: 100px 0;
}

.our-team-img {
    object-fit: cover;
    width: 450px;
    height: 500px;
}

.our-team-name {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;

}
.our-team-header {
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.vacancy-text {
    font-size: 144px;
    font-weight: 700;
    line-height: 144px;
    color: #0897D3;
    text-align: center;
    padding-bottom: 300px;
}

.vacancy-text-anchor {
    font-size: 144px;
    font-weight: 700;
    line-height: 144px;
    color: #0897D3;
    text-align: center;
    margin-bottom: 350px;}

.error-404 {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: #0897D3;
    text-align: center;
    margin-top: 200px;
}

.error {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: #0897D3;
    text-align: center;
    margin-bottom: 400px;
}

.our-team-post {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #0897D3;
}

.main-project {
    margin: 50px 0;
}

.main-project-block-img {
    width: 120%;
    height: 500px;
    object-fit: cover;
}

.main-project-block {
    padding: 100px 0;
}

.main-project-block-btn {
    background: #0897D3;
    color: white;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    padding: 20px;
}



.main-news-block-header {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 50px;
}

.image-news {
    position: relative;
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.text-news {
    position: absolute;
    top: 435px;
    left: 40px;
    color: white;
}

.link-news {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #0897D3;
}


.time-news {
    color: #0897D3;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    font-style: normal;
}

.header-news {
    color: white;
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    font-style: normal;
}

.announce-news {
    color: white;
    opacity: 80%;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    font-style: normal;
}

.media-about-us {
    margin-bottom: 30px;
}

.media-about-us-head {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
}

.media-about-us-header {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #0897D3;
}

.link-annon-news {
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
    color: #0897D3;
}

.media-about-us-time {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #0897D3;
}

.image {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 800px;
    filter: brightness(70%);
}

.image-header {
    position: absolute;
    top: 300px;
    left: 250px;
    width: 25%;
    font-size: 48px;
    line-height: 48px;
    color: white;
}

.image-text {
    position: absolute;
    top: 420px;
    left: 250px;
    width: 25%;
    font-size: 24px;
    line-height: 30px;
    color: white;
}


.announce-project-main-image {
    margin-top: 30px;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.announce-project-main-image-header {
    position: absolute;
    top: 621px;
    left: 520px;
    width: 35%;
    font-size: 48px;
    line-height: 48px;
    color: #0897D3;
}

.announce-project-main-image-text {
    position: absolute;
    top: 670px;
    left: 520px;
    width: 35%;
    font-size: 24px;
    line-height: 29px;
    color: #0897D3;
}

.announce-project-main-image-date {
    position: absolute;
    top: 590px;
    left: 520px;
    width: 25%;
    font-size: 18px;
    font-weight: 600;
    color: #0897D3;
    line-height: 18px;
}

.announce-project-image {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.announce-project-image-header {
    position: absolute;
    top: 360px;
    left: 50px;
    width: 50%;
    font-size: 28px;
    line-height: 28px;
    color: white;
}

.announce-project-image-date {
    position: absolute;
    top: 330px;
    left: 50px;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    color: #0897D3;
    line-height: 18px;
}

.upcoming-projects-image {
    margin-top: 100px;
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 288px;
    filter: brightness(70%);
}

.upcoming-projects-image-header {
    position: absolute;
    top: 380px;
    left: 50px;
    width: 50%;
    font-size: 28px;
    line-height: 28px;
    color: white;
}

.upcoming-projects-image-text {
    position: absolute;
    top: 440px;
    left: 50px;
    width: 50%;
    font-size: 20px;
    line-height: 24px;
    color: #737373;
}

.upcoming-projects-image-date {
    position: absolute;
    top: 360px;
    left: 50px;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    color: #0897D3;
    line-height: 18px;
}


.upcoming-projects-title {
    font-size: 36px;
    line-height: 36px;
}

.upcoming-projects-text {
    font-size: 22px;
    line-height: 26px;
    color: #737373;
}


.upcoming-projects-col-image {
    margin-top: 50px;
    margin-bottom: 150px;
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 300px;
    filter: brightness(70%);
}


.upcoming-projects-col-image-header {
    position: absolute;
    top: 265px;
    left: 30px;
    font-size: 28px;
    line-height: 28px;
    color: white;
}

.upcoming-projects-col-image-text {
    position: absolute;
    top: 380px;
    left: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #737373;
}
.upcoming-projects-col-image-text-2 {
    position: absolute;
    top: 460px;
    left: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #737373;
}

.upcoming-projects-col-image-date {
    position: absolute;
    top: 355px;
    left: 30px;
    width: 50%;
    font-size: 18px;
    font-weight: 600;
    color: #0897D3;
    line-height: 18px;
}

.project-fund-mt {
    margin-top: 100px;
}

.project-fund-main-image {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.project-fund-main-title {
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    position: absolute;
    margin-top: 100px;
    margin-bottom: 60px;
}

.project-fund-main-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    position: absolute;
    top: 200px;
}

.project-fund-main-btn {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    padding: 20px;
    top: 350px;
}

.project-fund-conditions-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
}


.project-fund-example-title {
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: end;
    margin-top: 100px;
}

.project-fund-example-mb {
    margin-bottom: 200px;
}

.project-fund-example-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    text-align: end;
    margin-bottom: 50px;
}

.project-fund-example-border {
    border: 1px solid #0897D3;
}

.project-fund-examle-img {
    padding: 91px 110px 91px 100px;
}

.project-fund-example-right-text {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    padding: 73px 150px 20px 30px;
}

.project-fund-example-btn {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    padding: 20px;
    margin-left: 25px;
}





.news-title {
    margin-top: 10px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.news-subtitle {
    line-height: 27px;
    font-size: 27px;
    opacity: 80%;
    font-weight: 600;
    margin-bottom: 20px;
}

.news-text {
    font-size: 22px !important;
    line-height: 22px !important;
    font-weight: 400;
    margin: 10px 0;
    text-align: justify;
    font-family: 'Inter', sans-serif;

}

.news-main-img {
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
    object-fit: contain;
}

.news-text-img {
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.mob-block {
    display: none;
}

.announcement-news-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 60px;
}



.announcement-news-img-lg {
    width: 800px;
    height: 420px;
    object-fit: cover;
}

.announcement-news-date-lg {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #0897D3;
    margin-top: 10px;
}

.announcement-news-title-lg {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;

    margin-top: 10px;
}

.announcement-news-announce-lg {
    font-size: 24px;
    line-height: 24px;
    font-weight: 550;
    color: #737373;
    margin-top: 20px;
    margin-bottom: 70px;
}

.announcement-news-img-sm {
    width: 350px;
    object-fit: contain;
    height: 400px;

}

.announcement-news-date-sm {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #0897D3;
    margin-top: 10px;
}

.announcement-news-title-sm {
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;

    margin-top: 10px;
}

.announcement-news-announce-sm {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #737373;
    margin-top: 10px;
    margin-bottom: 60px;
}

.contact-news-name {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}

.contact-news-post {
    font-size: 14px;
    line-height: 14px;
    color: #0897D3;
    font-weight: 600;
}

.contact-news-tel {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #0897D3;

}

.contact-news-tel-mob {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 15px;

}

.contact-news-email-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.contact-news-email {
    font-size: 24px;
    line-height: 24px;
    color: #0897D3;
    font-weight: 700;
}

.contact-news {
    background: #fafafa;
    width: 350px;
    padding: 30px;
}

.contact-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-us-news-title {
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 40px;
}

.about-us-news-date {
    font-size: 14px;
    line-height: 14px;
    color: #0897D3;
    font-weight: 700;
}

.about-us-news-name {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #0897D3;
}

.about-us-news-name:after {
    font-size: 18px;
    color: #0897D3;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .image-text {
        top: 400px;
        left: 120px;
        font-size: 22px;
        line-height: 20px;
        color: ghostwhite;
    }

    .image-header {
        top: 250px;
        left: 120px;
        font-size: 45px;
        line-height: 45px;
        color: ghostwhite;
    }
}

@media screen and (max-width: 480px) {

    .link-news {
        font-size: 20px;
        line-height: 22px;
        font-weight: 500;
        text-decoration: none;
        color: #0897D3;
    }

    .line-anchor {
        width: 100%;
        height: 3px;
        background: #0897D3;
    }

    .about-fund-col-text {
        font-size: 17px;
        line-height: 18px;
        font-weight: 400;
        color: #737373;
        width: 100%;
    }

    .aboud-fund-col-img {
        display: none !important;
        -webkit-display: none !important;
    }


    .main-project-block-header {
        font-size: 40px;
        line-height: 40px;
        font-weight: 600;
    }

    .main-another-news-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .image-text {
        display: none !important;
        -webkit-display: none !important;
    }

    .image-header {
        display: none !important;
        -webkit-display: none !important;
    }

    .image {
        position: relative;
        width: 100%;
        object-fit: cover;
        height: 400px;
        filter: brightness(85%);
    }

    .our-team-img {
        width: 350px;
        height: 400px;
    }

    .our-team-info {
        padding: 30px 0;
    }

    .our-team-name {
        font-size: 30px;
        line-height: 30px;
    }

    .email-input {
        width: 250px;
    }

    .mob-break {
        margin-bottom: 20px;
    }

    .mob-logo {
        margin-left: 80px
    }

}


.image-btn {
    position: absolute;
    top: 600px;
    left: 210px;
    width: 174px;
    font-size: 17px;
    line-height: 24px;
    padding: 15px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    color: white;
}

.email-input {
    border-top: none;
    border-left: none;
    border-right: none;

}

.sharmanov {
    font-size: 45px;
    font-weight: 500;
    line-height: 60px;
    color: white;
}

.color-link {
    color: #737373;
    font-size: 18px;
    line-height: 18px;

}

.color-link:hover {
    color: #737373;
}

.color-link:active {
    color: #737373;
}



.color-blue {
    color: #0897D3;
    font-weight: 500;
    font-size: 20px;

}

.color {
    color: #737373;
}

.color:hover {
    color: #0897D3;

}

.color:active {
    color: #0897D3;

}

.color-link {
    color: #737373;
    text-decoration: none;
}

.color-link:hover {
    color: #0897D3;

}

.color-link:active {
    color: #0897D3;

}

.text-sharmanov {
    font-family: 'Inter', sans-serif;
    color: #737373;
    font-size: 20px;
    line-height: 20px;
}

.text-sharmanov-left {
    font-family: 'Inter', sans-serif;
    color: #737373;
    font-size: 20px;
    line-height: 20px;
    padding-right: 180px;
}


.text-sharmanov-right {
    font-family: 'Inter', sans-serif;
    color: #737373;
    font-size: 20px;
    line-height: 20px;
    padding-left: 250px;
}

.pop-sovet {
    object-fit: cover;
    width: 100%;
    height: 500px;
}


.main-quote {
    width: 100%;
    object-fit: contain;
    height: 300px;

}

.pop-sovet-2 {
    object-fit: cover;
    width: 100%;
    height: 800px;
    margin: 50px 0;
}

.pop-sovet-4 {
    object-fit: cover;
    width: 100%;
    height: 800px;
}

.pop-sovet-6 {
    object-fit: cover;
    width: 100%;
    height:680px;
}

.pop-sovet-7 {
    object-fit: cover;
    width: 100%;
    height: 800px;
    margin: 50px 0;
}

.sovet-name {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    text-align: justify;
    color: #010000;

}

.footer-copy {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    color: #0897D3;
}

.footer-input {
    width: 370px;
    padding: 0 50px;
}

input::placeholder {
    font-size: 20px;
    padding: 0;
    line-height: 20px;
    font-style: normal;
}

.footer-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}

.sovet-header {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: justify;
    color: #0897D3;
}

.sovet-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
    color: #333333;

}

.sovet-text-2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
    color: #333333;

}


.line {
    width: 100%;
    height: 3px;
    background: #0897D3;
}

.line-anchor {
    width: 100%;
    height: 3px;
    background: #0897D3;
}


.line-header {
    width: 100%;
    height: 1.5px;
    background: #0897D3;
}

.reports-header {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 70px;
}

.reports-label-header {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.reports-btn {
    height: 150px;
    padding: 0 40px;
    background: #0897D3;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.upcoming-project-top {
    margin-top: 150px;
}

.reports-type {
    border: none;
    background: white;
    color: #737373;

    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px solid #0897D3;
}

.reports-type:hover {
    border: none;
    background: white;
    color: #0897D3;
    border-bottom: 1px solid #0897D3;
}

.reports-type:active {
    border: none;
    background: white;
    color: #0897D3;
    border-bottom: 1px solid #0897D3;
}

.reports-btn-text {
    color: white;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    padding-left: 20px;
}

.contacts-header {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 50px;
    color: #0897D3;
}

.contacts-tel {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;

}

.contacts-text {
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
}

.contacts-email {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    color: #0897D3;
}

.contacts-address {
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
}

.partners {
    filter: grayscale(100%);
    opacity: .5;

}

.partners:hover {
    filter: none;
    opacity: 1;
    transition: 0.4s;
}

.title {
    font-size: 40px;
    line-height: 1.23;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.vacancy-btn {
    font-size: 30px;
    line-height: 30px;
    color: white;
    background: #0897D3;
    padding: 20px 0;
}



.vacancy-btn:hover {
    color: #0897D3;
    background: white;
    text-decoration: none;

}

.vacancy-btn:active {
    color: #0897D3;
    background: white;
    text-decoration: none;
}

.vacancy-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

.vacancy-title-sm {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #0897D3;

}

.vacancy-contacts {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #0897D3;

}

.container-main {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.card-header {
    padding: 0 !important;
}

.vacancy-tel {
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #0897D3;

}

.vacancy-collapse-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 50px;

}

.logo {
    width: 180px;
}
. dropdown-menu {
    border: o !important;
}

.footer-logo {
    object-fit: contain;
    width: 90%;
    height: 90px;
    margin-left: -300px !important;
}

.social-icon-footer {
    text-align: right;
}






@media only screen and (max-width: 500px) {


    .social-icon-footer {
        text-align: center !important;
    }


. dropdown-menu {
    border: none !important;
}
    .container {
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .upcoming-project-top {
        margin-top: 0 ;
    }

    .logo {
        width: 100px;
    }

    .main-image-header {
        display: none;
    }

    .footer-logo {
        object-fit: contain;
        width: 100%;
        height: 80px;
        margin-left: 0 !important;
        -webkit-margin-left: 0 !important;
    }
    .footer-social {
        margin-top: 20px;
        text-align: center !important;
    }

    .footer-input {
        width: 330px;
        padding: 0 50px;
    }

    input::placeholder {
        font-size: 18px;
        padding: 0;
        line-height: 18px;
        font-style: normal;
    }
    .image {
        position: relative;
        width: 100%;
        object-fit: cover;
        height: 300px;
        filter: brightness(65%);
    }


    .image-btn {
        display: none;
        position: absolute;
        top: 220px;
        left: 20px;
        width: 130px;
        font-size: 12px;
        line-height: 12px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        color: white;
    }

    .main-quote {
        width: 100%;
        object-fit: contain;
        height: 80px;
        margin: 20px 0;

    }


    .header-news {
        color: white;
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        font-style: normal;
    }

    .announce-news {
        color: white;
        opacity: 80%;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        font-style: normal;
    }

    .announcement-news-img-lg {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .announcement-news-date-lg {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        color: #0897D3;
        margin-top: 10px;
    }

    .announcement-news-title-lg {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;

        margin-top: 10px;
    }

    .announcement-news-announce-lg {
        font-size: 24px;
        line-height: 24px;
        font-weight: 550;
        color: #737373;
        margin-top: 20px;
        margin-bottom: 70px;
    }




    .image-news {
        position: relative;
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-bottom: 20px;

    }

    .main-project-block-img {
        margin-top: 50px;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .main-project-block {
        padding: 0 !important;
    }

    .main-project {
        margin: 0 !important;

    }

    .title {
        font-size: 40px;
        line-height: 1.23;
        margin-bottom: 40px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }

    .mg-t {
        margin-top: 150px;
    }

    .header-top {
        display: inline-block;
    }


    .image-header {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 45%;
    font-size: 24px;
    line-height: 24px;
    color: white;
}

.image-text {
    position: absolute;
    top: 120px;
    left: 50px;
    width: 45%;
    font-size: 12px;
    line-height: 12px;
    color: black;
}

    .text-sharmanov {
    font-family: 'Inter', sans-serif;
    color: #737373;
    font-size: 18px;
    line-height: 18px;
}

.text-sharmanov-left {
    font-family: 'Inter', sans-serif;
    color: #737373;
    font-size: 18px;
    padding-right: 0 !important;
    line-height: 18px;
}


.text-sharmanov-right {
    font-family: 'Inter', sans-serif;
    color: #737373;
    font-size: 18px;
    line-height: 20px;
    padding-left: 0 !important;
}

    .color-blue {
        color: #0897D3;
        font-weight: 500;
        font-size: 20px;
    }

    .about-fund-number {
        display: none;
    }
    .about-fund-title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: #010000;
    text-align: left;

}

.about-fund-destinations-title {
    font-size: 32px;
    line-height: 32px;
    color: #0897D3;
    font-weight: 600;
}

.about-fund-destinations-margin {
    font-size: 22px;
    line-height: 22px;
    color: #0897D3;
    font-weight: 600;
    width: 100%;
}

.about-fund-destinations-margin-right {
    font-size: 22px;
    line-height: 22px;
    margin-top: 90px;
    color: #0897D3;
    font-weight: 600;
    width: 100%;
}


.about-fund-destinations-text-right {
    font-size: 18px;
    line-height: 20px;
    color: #737373;
    font-weight: 400;
    width: 90%;
}

.about-fund-destinations-text {
    font-size: 18px;
    line-height: 18px;
    color: #737373;
    font-weight: 400;
    text-align: justify-all;
    width: 90%;
}

.about-fund-destinations-second-text {
    font-size: 18px;
    line-height: 20px;
    color: #737373;
    font-weight: 400;
    width: 100%;
}

.about-fund-destinations-second-text-2 {
    font-size: 18px;
    line-height: 20px;
    color: #737373;
    font-weight: 400;
    width: 100%;
}

    .announce-project-main-image {
        margin-top: 30px;
        margin-bottom: 30px;
        position: relative;
        width: 100%;
        object-fit: cover;
        height: 300px;
        filter: brightness(70%);
    }

    .announce-project-main-image-header {
        position: absolute;
        top: 720px;
        left: 30px;
        font-size: 24px;
        line-height: 24px;
        width: 75% !important;
        color: #0897D3;
    }


    .announce-project-main-image-text {
        position: absolute;
        top: 670px;
        left: 30px;
        width: 80%;
        font-size: 23px;
        line-height: 23px;
        color: #0897D3;}

    .announce-project-main-image-date {
        position: absolute;
        top: 690px;
        left: 30px;
        width: 25%;
        font-size: 18px;
        font-weight: 600;
        color: #0897D3;
        line-height: 18px;
    }

    .announce-project-image {
        margin-bottom: 30px;
        position: relative;
        width: 100%;
        object-fit: cover;
        height: 300px;
        filter: brightness(70%);
    }

    .announce-project-image-header {
        position: absolute;
        top: 222px;
        left: 30px;
        width: 75%;
        font-size: 28px;
        line-height: 28px;
        color: white;
    }



    .announce-project-image-text {
        position: absolute;
        top: 240px;
        left: 30px;
        width: 75%;
        font-size: 20px;
        line-height: 24px;
        color: #737373;
    }

    .announce-project-image-date {
        position: absolute;
        top: 197px;
        left: 30px;
        width: 75%;
        font-size: 18px;
        font-weight: 600;
        color: #0897D3;
        line-height: 18px;
    }

    .upcoming-projects-image {
        margin-top: 30px;
        position: relative;
        width: 100%;
        object-fit: cover;
        height: 300px;
        filter: brightness(70%);
    }

    .upcoming-projects-image-header {
        position: absolute;
        top: 410px;
        left: 30px;
        width: 85%;
        font-size: 25px;
        line-height: 25px;
        color: white;
    }

    .upcoming-projects-image-text {
        position: absolute;
        top: 460px;
        left: 30px;
        width: 75%;
        font-size: 20px;
        line-height: 24px;
        color: #737373;
    }

    .upcoming-projects-image-date {
        position: absolute;
        top: 380px;
        left: 30px;
        width: 50%;
        font-size: 18px;
        font-weight: 600;
        color: #0897D3;
        line-height: 18px;
    }


    .upcoming-projects-title {
        font-size: 36px;
        line-height: 36px;
    }

    .upcoming-projects-text {
        font-size: 22px;
        line-height: 26px;
        color: #737373;
    }


    .upcoming-projects-col-image {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        object-fit: cover;
        height: 300px;
        filter: brightness(70%);
    }


    .upcoming-projects-col-image-text {
        position: absolute;
        top: 240px;
        left: 30px;
        font-size: 15px;
        line-height: 15px;
        color: white;
    }
    .upcoming-projects-col-image-text-2 {
        position: absolute;
        top: 330px;
        left: 30px;
        font-size: 20px;
        line-height: 24px;
        color: #737373;
        padding-bottom: 100px;
    }


    .upcoming-projects-col-image-date {
        position: absolute;
        top: 200px;
        left: 30px;
        width: 50%;
        font-size: 18px;
        font-weight: 600;
        color: #0897D3;
        line-height: 18px;
    }



    .our-team-header {
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 40px;
}

.vacancy-text {
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    color: #0897D3;
    text-align: center;
    margin-bottom: 150px;
}


    .vacancy-text-anchor {
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    color: #0897D3;
    text-align: center;
    margin-bottom: 325px;
}



.error-404 {
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    color: #0897D3;
    text-align: center;
}
    .error{
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
        color: #0897D3;
        text-align: center;
        margin-bottom: 150px;
    }

    .contacts-header {
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 50px;
    color: #0897D3;
}

.contacts-tel {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;

}

.contacts-text {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
}

.contacts-email {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    color: #0897D3;
}

.contacts-address {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
}



}

